#### 读取关系数据库二维表创建DataFrame对象

pandas模块的read_sql函数可以通过 SQL 语句从数据库中读取数据创建DataFrame对象，该函数的第二个参数代表了需要连接的数据库。对于 MySQL 数据库，我们可以通过pymysql或mysqlclient来创建数据库连接（需要提前安装好三方库），得到一个Connection 对象，而这个对象就是read_sql函数需要的第二个参数，

In [2]:
import pandas as pd

from sqlalchemy import create_engine
from urllib.parse import quote_plus

password = '123!@#'  # 因为有特殊字符
encoded_password = quote_plus(password)
engine = create_engine(f'mysql+pymysql://it:{encoded_password}@vm.remote.com:3306/ruoyi')

dept_df = pd.read_sql('sys_user', engine, index_col='user_id')

dept_df

,dept_id,user_name,nick_name,user_type,email,phonenumber,sex,avatar,password,status,del_flag,login_ip,login_date,create_by,create_time,update_by,update_time,remark
user_id,,,,,,,,,,,,,,,,,,
1,103.0,admin,若依,00,ry@163.com,15888888888,1,,$2a$10$7JB720yubVSZvUI0rEqK/.VqGOZTH.ulu33dHOi...,0,0,127.0.0.1,2025-07-25 13:04:32,admin,2025-05-14 08:57:21,,2025-07-25 05:04:31,管理员
2,105.0,ry,若依,00,ry@qq.com,15666666666,1,,$2a$10$7JB720yubVSZvUI0rEqK/.VqGOZTH.ulu33dHOi...,0,0,127.0.0.1,2025-07-22 13:06:41,admin,2025-05-14 08:57:21,,2025-07-22 05:06:41,测试员
100,NaN,A1,A1,00,,,0,,$2a$10$lbXLT/goEp3d09uuLIqh1uuXkvXgxUv7IRxuYqq...,0,0,,NaT,admin,2025-07-25 05:04:47,,NaT,None
101,NaN,A2,A2,00,,,0,,$2a$10$8GvB3SuDZbfMxhYUUcC.wuZ/Yluwf2NHtWsaTac...,0,0,,NaT,admin,2025-07-25 05:05:03,,NaT,None
102,NaN,A3,A3,00,,,0,,$2a$10$8ljy1wljYWErlhVEfbgycOTDmYiboz.wlDGnJiW...,0,0,,NaT,admin,2025-07-25 05:05:08,,NaT,None
103,NaN,A4,A4,00,,,0,,$2a$10$gZZfdNTwqmhrPoCh9uhTzelf9MRMjJc5b50PShQ...,0,0,,NaT,admin,2025-07-25 05:05:20,,NaT,None
104,NaN,A5,A5,00,,,0,,$2a$10$iOM4N.4aSZvrGOSVOb4RueMpB1wECy.g84JcAfS...,0,0,,NaT,admin,2025-07-25 05:05:27,,NaT,None
10002,NaN,A6,A6,00,,,0,,,0,0,,NaT,,NaT,,NaT,None