#### 读取CSV文件
可以通过pandas 模块的read_csv函数来读取 CSV 文件，read_csv函数的参数非常多，下面介绍几个比较重要的参数。

- sep / delimiter：分隔符，默认是,。
- header：表头（列索引）的位置，默认值是infer，用第一行的内容作为表头（列索引）。
- index_col：用作行索引（标签）的列。
- usecols：需要加载的列，可以使用序号或者列名。
- true_values / false_values：哪些值被视为布尔值True / False。
- skiprows：通过行号、索引或函数指定需要跳过的行。
- skipfooter：要跳过的末尾行数。
- nrows：需要读取的行数。
- na_values：哪些值被视为空值。
- iterator：设置为True，函数返回迭代器对象。
- chunksize：配合上面的参数，设置每次迭代获取的数据体量。

In [1]:
# %pip install openpyxl
import numpy as np
import pandas as pd

df1 = pd.read_csv(
    'res/2023年北京积分落户数据.csv',
    # encoding='utf-8',  # 指定字符编码
    # sep='',  # 指定字段的分隔符（默认逗号）
    # delimiter='#',
    # header=0,  # 表头所在的行
    # quotechar='"',  # 包裹字符串的字符（默认双引号）
    # index_col='公示编号',  # 索引列
    # usecols=['公示编号', '姓名', '积分分值'],  # 指定加载的列
    # nrows=10,  # 加载的行数
    # skiprows=np.arange(1, 101),  # 跳过哪些行
    # true_values=['是', 'Yes', 'YES'],  # 哪些值会被视为布尔值True
    # false_values=['否', 'No', 'NO'],  # 哪些值会被视为布尔值False
    # na_values=['---', 'N/A'],  # 哪些值会被视为空值
    # iterator=True,  # 开启迭代器模式
    # chunksize=1000,  # 每次加载的数据体量
)
df1

           公示编号   姓名     出生年月                 单位名称    积分分值
0     202300001   张浩  1977-02           北京首钢股份有限公司  140.05
1     202300002   冯云  1982-02        中国人民解放军空军二十三厂  134.29
2     202300003  王天东  1975-01       中建二局第三建筑工程有限公司  133.63
3     202300004   陈军  1976-07       中建二局第三建筑工程有限公司  133.29
4     202300005  樊海瑞  1981-06         中国民生银行股份有限公司  132.46
...         ...  ...      ...                  ...     ...
5998  202305999   曹恰  1983-09           首都师范大学科德学院  109.92
5999  202306000   罗佳  1981-05  厦门方胜众合企业服务有限公司海淀分公司  109.92
6000  202306001  席盛代  1983-06  中国华能集团清洁能源技术研究院有限公司  109.92
6001  202306002  彭芸芸  1981-09       北京汉杰凯德文化传播有限公司  109.92
6002  202306003   张越  1982-01          大爱城投资控股有限公司  109.92

[6003 rows x 5 columns]

In [3]:

# 方法四：从Excel文件加载数据创建DataFrame对象
df2 = pd.read_excel(
    'res/2020年销售数据.xlsx',
    sheet_name='data',
)
df2

           销售日期 销售区域 销售渠道            销售订单    品牌   售价  销售数量  直接成本
0    2020-01-01   上海  拼多多      182894-455   八匹马   99    83  3351
1    2020-01-01   上海   抖音      205635-402   八匹马  219    29  1016
2    2020-01-01   上海   天猫      205654-021   八匹马  169    85  6320
3    2020-01-01   上海   天猫      205654-519   八匹马  169    14   485
4    2020-01-01   上海   天猫      377781-010   皮皮虾  249    61  2452
...         ...  ...  ...             ...   ...  ...   ...   ...
1940 2020-12-30   北京   京东          D89677  花花姑娘  269    26  1560
1941 2020-12-30   福建   实体      182719-050   八匹马   79    97  3028
1942 2020-12-31   福建   实体          G70083  花花姑娘  269    55  2277
1943 2020-12-31   福建   抖音  211471-902/704   八匹马   59    59   852
1944 2020-12-31   福建   天猫      211807-050   八匹马   99    27   435

[1945 rows x 8 columns]